


.html-header {
  margin: 15px 0 5px;
}





.html {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #f1f1f1;
  min-height: 20px;
  max-height: 10rem;
  overflow: auto;
}
.container{
  width: 800px;
  margin: 0 auto;
}

.middle{
  background-color: white;
  margin: 0 auto;
  text-align: center;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


#image{
  right: 0;
  float: right;
  position: absolute;
}


